/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
 /* font-variation-settings: 'wght' var(--font-weight-text);*/
  max-width: 700px;
  font-family: var(--font-primary);
  background-image: var(--page-bg);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 368px;
  margin-top: 100px;
  border: 2px solid var(--accent-color);
  background-color: var(--color-bg);
}

.header__title {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  text-transform: uppercase;
}

.header__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  padding-top: 98px;
}

.card {
  margin-bottom: 50px;
  border: 2px solid var(--accent-color);
  background-color: var(--color-bg);
}

.card__title {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-weight: 715;
  font-size: 18px;
}

.card__content {
  position: relative;
  
}

.card__content-logo {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.4;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--color-bg);
}

.card__content-image {
  display: block;
  width: 100%;
  height: auto;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  font-size: 18px;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__icon-button {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  transition: border-color 0.3s ease;
  block-size: 36px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
 
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  transition: 0.3s ease; 
}

.card__button {
  width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__like-button .button__text {
  position: relative;
  z-index: 1;
  color: #fff;
  mix-blend-mode: difference;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}


.card__like-button:hover::before {
  transform: scaleX(1);
}

.card__footer-button .footer-image {
  position: relative;
  z-index: 1;
  filter: invert(1);
  mix-blend-mode: difference;
}

.like-icon .sparks {
  opacity: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.card__footer-button {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 2px solid var(--accent-color);
  padding: 14px 19px;
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
}

.memory-dialog {
  padding: 0;
}

.memory-dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 353px;
  padding: 30px;
  font-family: var(--font-accent);
  line-height: 1.3;
  text-transform: uppercase;
}

.memory-dialog__actions{
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.card__button-dialog {
  width: 100%;
  text-transform: uppercase;
}

dialog::backdrop {
  opacity: 0.75;
  background-color: var(--accent-color);
} 

@media (width <= 375px) {
  .header {
    min-height: 327px;
  }
  .card__title {
    width: 350px;
  }
  .card__content-text {
    gap: 28px;
  }
  .card__footer-button {
    flex-direction: column;
        gap: 8px;
        padding: 15px 18px;
  }
  .footer-image {
    width: 28px;
    height: 28px;
  }
  .memory-dialog__content {
    padding-right: 40px;
    padding-left: 40px;
  }
  .memory-dialog__actions{
  padding-right: 40px;
  padding-left: 40px;
}
}